h1{
    font-weight:bold;
}
.header, .content{
    margin-top:30px;
}
a.login{
    text-decoration: none;
    font-size: 18px;
}
a.login:hover{
    text-decoration: underline;
}
a.login, a.login:active, a.login:visited, a.login:link{
    color: #000;
}
.content, .sidebar{
    margin: 50px 0 100px;
}
.feedbacks .feedbacks-item{
    margin: 50px 0;
    padding: 15px;
    background-color: #f2f2f2;
}
.feedback-info{
    width:45%;
}
.contacts, .date{
    float:left;
}
.contacts p, .date p{
    padding: 0;
    margin: 0;
    font-size: 14px;|
}
.contacts p.email{
    font-style: italic;
}
.date{
    float:right;
}
.feedback-text p{
    padding-top: 10px;
    margin: 0;
}
.feedback-text small{
    font-size: 12px;
    font-style:italic;
    font-weight:bold;
}
form{
    width: 305px;
    margin: 30px auto 0;
    position: relative;
}
form h3{
    margin: 15px 0;
    text-align: center
}
input,textarea{
    padding: 5px;
    display: block;
    width: 300px;
    margin: 5px auto;
}
label{
    margin: 10px 0 0 0;
}
.preview, .send, #loginForm button{
    margin: 10px 0;
    display: block;
    height:34px;
    padding:5px 10px;
    font-weight:bold;
    text-transform: uppercase
}
.preview{
    color: #0069d9;
}
.send, #loginForm button{
    color: #fff;
    background-color: #0069d9;
    border:1px solid #0069d9;
    border-radius: 3px;
}
.send:hover, #loginForm button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #08519f;
    border:1px solid #08519f;
    cursor:pointer;
}
.preview:hover{
    text-decoration: none;
    color: #08519f;
}
.sidebar a{
    display: block;
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration: none;
}
.sidebar{
    padding-left: 50px;
}
.error{
    color:red;
}
.success{
    color:green;
    font-size: 16px;
    font-weight:bold;
}
.feedback-image img{
    width:320px;
    height:240px;
    margin-top: 10px;
}
.before-load{
    display: none;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    z-index:999;
}
.preview-item{
    display: none;
    border: 3px dashed #0056b3;
}
